body{
    background: white url("../images/ocean.jpg");
    color: greenyellow;
    background-size: cover;
    background-attachment: fixed;
} 
li {
    contain: content;
}
    .done {
        text-decoration: line-through;
        color: yellowgreen;
}
@media (max-width:600px) {
    body{
    background: white url("../images/ocean.jpg");
    color: greenyellow;
    background-size: cover;
    background-attachment: fixed;
}
    .done {
        text-decoration: line-through;
        color: yellowgreen;
}
    li {
    contain: content;
}
} 
    @media (max-width:768px) and (min-width:600px) {
        body{
        background: white url("../images/ocean.jpg");
        color: greenyellow;
}
    li {
    contain: content;
}
        .done {
            text-decoration: line-through;
            color: yellowgreen;
}

}
    @media (max-width:1024px) and (min-width:768px) {
        body{
            background: white url("../images/ocean.jpg");
            color: yellowgreen;
            background-size: cover;
            background-attachment: fixed;
}
    li {
    contain: content;
}
        input#packers {
    text-decoration: line-through;
}
    .done {
        text-decoration: line-through;
        color: grey;
}
        .done {
	text-decoration: line-through;
	color: red;
}
        .done {
	text-decoration: line-through;
	color: grey;
}
