<!DOCTYPE html>
<html>
  <head>
    <title>To-Do-App</title>
       <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
  </head>

  <body>
    <div id="app" class="container">
    <h1>My Tasks For The Day</h1>
        <form>
        <input type="text" id="Task" name="Task" v-on:keyup.enter ="addTodo" v-model="todoText" placeholder="add new task here" show="todoText.edit" required>
        <h2>Select Priority: </h2>
        <select v-model="selectedPriority" class="priority">
      <option v-for="prio in priorities" :value="prio">{{ prio.label }}</option>
    </select>
            <h2>Select due date:</h2>
    <select v-model="weekday">
          <option value="Mon">Monday</option>
          <option value="Tue">Tuesday</option>
          <option value="Wed">Wednesday</option>
          <option value="Thu">Thursday</option>
          <option value="Fri">Friday</option>
          <option value="Sat">Saturday</option>
          <option value="Sun">Sunday</option>
        </select>
            <h2>Submit and Save:</h2>
    <div class="submit">
    <button type="button" v-on:click="addTodo()"  class="btn btn-primary btn-sm">Submit</button>
    <button type="button" v-on:click="sort()"  class="sort-btn">Sort Alphabeticly</button>
    <button type="button" v-on:click="sortPriority()" class="sort-priority">Sort Priority</button>
    </div>
    <div class="submit">
        <button type="button" @click="saveTask()"  class="btn btn-primary btn-sm">Save</button>
    </div>
        <h2>Your Tasks Are:</h2>
        <ul id="my_span1" class="list-unstyled">
        <li v-for="todo in todos">
        <label>
        <button v-on:click="removeItem(todo)">X</button>
        <input type="checkbox"  v-model="todo.done" />
        <span id="my_span1"  v-bind:class="{'done': todo.done}" contenteditable="true" >{{todo.text}} {{todo.wDay}} {{todo.priority}}
        </span>       
        </label>  
        </li>
        </ul>
        </form>
    </div>
    
    <script src="https://unpkg.com/vue"></script>
    <script src="js/script.js"></script>
  </body>
</html>
